/*Navigation bar was made with the help of a Youtube tutorial which can be followed here: 
https://www.youtube.com/watch?v=FEmysQARWFU&t=69s*/
body {
    margin:0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
h1 {
    color: green;
    float: left;
    margin:0 auto;
    padding-bottom: 10px;
}
p {
    color: white;
}
nav {
    float:right;
}

header {
    background: #55d6aa;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    padding-top: 10px;
}
nav ul {
    margin:0, 10;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
    /*Contrary to the tutorial, I had to solve the issue with the block not appearing in the correct location by adding some padding 
    above the list items*/
    padding-top: 5px;
}

nav a { 
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 250ms;

    
}

nav a:hover::before {
    width:100%

}